@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@600&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Sen&display=swap');
body, h1, h2, p, ul, li, a, img, video {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar{
    margin-top: 0;
    margin-left: 0;
}


.nav {
    padding-left: 0em;
    padding-top: 0%;
    list-style-type: none;
    font-size: 100%;
    font-family:'Oswald', sans-serif;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position:fixed;
    top: 0;
    width:100%;
  }
  
  li {
    float:left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover{
    background-color: #cc4400;
    text-decoration: underline;
  }
  .active {
    background-color: #cc4400;
  }

.head{
  margin-top: 40px;
  margin-left: 50px;
  font-family: 'Merienda', cursive;
}

.head h1 span{
  color: #cc4400;
}


.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  border: 0.5px solid rgb(255, 244, 224);
  border-radius: 15px;
  background-color: #ffefef;
  margin-top: 10px;
}

.logo{ 
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.trip{
margin-left: 10px;
}

.trip h2{
  font-family:'Sen', sans-serif ;
  margin-bottom: 0;
  font-size: 20px;
}

.trip p{
  font-family:'Sen', sans-serif ;
  font-size: 15px;
  color: #b4b3b3;
}

.trip a{
  text-decoration: none;
  color: #000;
}

.trip a:hover{
  text-decoration: underline;
}

.price{
  margin-top: 25px ;
  font-family: 'Sen', sans-serif ;
  font-size: 25px;
  margin-right: 45px;
}

.button {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;;
  display: inline-block;
  background-color: #f38926;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 17px;
}

.button:hover {
  background-color: #cc4400;
}







































  footer{
    background-color:antiquewhite;
    text-align: center;
}